html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.title {
    font-family: "Rockwell", sans-serif;
    color: black;
    text-align: center;
    margin: 0;
    padding: 1.5rem 0;
}

.navBar {
    position: sticky;
    top: 0;
    width: auto;
    background-color: snow;
    border-bottom: 2px solid black;
    box-shadow: 0 10px 5px rgba(0,0,0,0.3);
}
